body {
    background-color: #3a7734;
}

.container {
    background-color: #9C1A1C;
    height: 98vh;
    width: 50vw;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    }

.hit-btn, .stand-btn {
    align-self: flex-end;
    justify-self: flex-start;
    margin-bottom: 15px;
}

.dealer-cards {
    border: 3px solid white;
    border-radius: 5px;
    width: 100px;
    height: 200px;
    display: grid;
}

.cards {
    border: 3px solid white;
    border-radius: 5px;
    width: 100px;
    height: 200px;
    align-self: flex-end;
    margin-bottom: 15px;
    display: grid;
}

.player-card, .dealer-card {
    width: 100px;
    height: 200px;
    grid-row: 1;
    grid-column: 1;

}

.art-deck {
    border-radius: 8px;
}