body {
    background-image: radial-gradient(green, darkgreen, #0b0b0b);
    background-repeat: no-repeat;
    height: 100vh;
}

.container {
    height: 98vh;
    width: 75vw;
    margin: 0 auto;
    display: grid;
    grid-gap: 0;
    grid-template-areas: "top top top" "mid mid mid" "bot bot bot";
    grid-template-columns: 30% 40% 30%;
    grid-template-rows: 40% 20% 40%;

    color: white;
    font-size: 20px;
}

.hit-btn, .stand-btn, .deal-btn, .next-btn {
    width: 100px;
    height: 50px;
    padding: 5px;

    align-self: center;
    justify-self: center;

    border: 1px solid transparent;
    border-radius: 10px;

    background-color: rgb(0, 199, 0);

    font-size: 16px;
    font-weight: bold;
}

.hit-btn:hover, .stand-btn:hover, .deal-btn:hover, .next-btn:hover {
    border-color: rgba(255, 0, 0, 0.79);
    border-width: 2px;
}

.hit-btn {
    grid-row: 2;
    grid-column: 1;
}

.stand-btn {
    grid-row: 2;
    grid-column: 3;
}

.deal-btn {
    grid-row: 2;
    grid-column: 1;
}

.next-btn {
    grid-row: 2;
    grid-column: 3;
}

.dealer-cards, .cards {
    border-radius: 5px;
    width: 100px;
    height: 200px;
    display: grid;
    grid-template-columns: 150px;
    grid-template-rows: 200px;
    position: relative;
    right: 35px;
}

.dealer-cards {
    grid-row: 1;
    grid-column: 2;
    justify-self: center;
}

.cards {
    grid-row: 3;
    grid-column: 2;
    align-self: end;
    justify-self: center;
}

.player-card, .dealer-card, .face-down-card {
    width: 130px;
    height: 200px;
    grid-row: 1;
    grid-column: 1;

}

.radius-deck {
    border-radius: 8px;
}

.coin-container {
    display: flex;
    grid-row: 3;
    grid-column: 2;
    align-self: center;
    justify-self: center;
    z-index: 3;
}

.coin {
    border-radius: 5.5rem;
    margin: 2px;
    height: 5.5rem;
    width: 5.5rem;
    color: #000;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
}

.coin:first-child {
    border: 1px solid #000;
    background-image: radial-gradient(white 50%, red 50%);
}

.coin:nth-child(2) {
    border: 1px solid #000;
    background-image: radial-gradient(white 50%, blue 50%);
}

.coin:nth-child(3) {
    border: 1px solid #000;
    background-image: radial-gradient(white 50%, green 50%);
}

#betField {
    grid-column: 2;
    grid-row: 2;
    align-self: center;
    justify-self: center;

    font-size: 25px;
    font-weight: bold;
    letter-spacing: 1px;
}

#pocket {
    grid-column: 1;
    grid-row: 3;
    width: fit-content;
    align-self: end;
    justify-self: center;

    font-size: 24px;
    font-weight: bold;
    letter-spacing: 1px;
}

#cardCount {
    grid-column: 2;
    grid-row: 3;
    align-self: end;
    justify-self: start;
    position: relative;
    left: 20px;
    font-size: 26px;
    font-weight: bold;
    color: gold;
}