<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>BlackJack</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css' )}}">
        <script type="module" src="{{ url_for('static', filename='js/main.js') }}"></script>
    </head>
    <body>
        <h1>Hello BlackJack!</h1>
        <p>Deck choose</p>
        <label for="deck-classic">Classic</label>
        <input type="radio" id="deck-classic" name="deck" value="classic"
        checked>
        <br>
        <label for="deck-art">Art</label>
        <input type="radio" id="deck-art" name="deck" value="art">
        <br>
        <label for="deck-art">Gladiator</label>
        <input type="radio" id="deck-gladiator" name="deck" value="gladiator">
        <br>
        <button id="start-btn">Start Game</button>
    </body>
</html>